<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Help - How to Use the Site</h1>
    <section>
        <h2>Steps to Use the Platform</h2>
        <p>Follow these steps to find the right employee for your job:</p>
        <ol>
            <li>Sign in using your credentials, or <a href="/create-user">create an account</a> if you're new.</li>
            <li>Enter the job category and location in the search form.</li>
            <li>Click the "Search" button to find available employees.</li>
            <li>Review the list of matching employees and select one to contact or book.</li>
        </ol>
    </section>
</body>
</html>
